*.jl.*.cov
*.jl.cov
*.jl.mem
Manifest.toml
Project.toml
/docs/Manifest.toml
/docs/build/
/parallel_result_figures/*.jld2
/parallel_result_figures/*.pdf
*.txt
/result_figures/*.pdf
/result_figures/*.png
default_linesearch_071_gau/
/time_reversible
/*.jld2
/*.pdf
HC_int_072/
default_linesearch_072_lob/
default_linesearch_073_gau/
add_lambda_in_solver075/