*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/Manifest.toml
/docs/build/
/parallel_result_figures/*.jld2
/parallel_result_figures/*.pdf
*.txt
/result_figures/*.pdf
/result_figures/*.png
/1212_parallel_results
/1412_parallel_results
/1512_parallel_results